body{
  background-color: #101010 !important;
}
p{
  color: rgba(198, 201, 216, 0.75);;
}
.menu__item a{
  text-decoration: none;
}
.section-one{
  background: -webkit-linear-gradient(#f81f01, #ee076e );
    background-clip: border-box;
background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 100px;
line-height: 112px;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
}
.ils-font-lg{
  font-size: 60px;
}
.ils-font-md{
  font-size: 30px;
}
.ils-font-bolder{
  font-weight: bolder;
}
.ils-font-white{
  color: #ffffff;
}

.mobile-frame {
  position: absolute;
  width: 300px;
  height: 580px;
  background: #333;
  border-radius: 50px;
}
.mobile-screen {
  position: absolute;
  width: 286px;
  left: 7px;
  height: 566px;
  top: 7px;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  border-radius: 45px;
}
.mobile-screen-top-block {
  position: absolute;
  background: #333;
  height: 20px;
  width: 150px;
  top: 0;
  left: calc(50% - 75px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.mobile-screen-bottom-bar {
  position: absolute;
  background: white;
  height: 5px;
  width: 100px;
  bottom: 10px;
  left: calc(50% - 50px);
  border-radius: 15px;
}
h2 {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-top: 180px;
}
.sign-in,
.sign-up {
  position: absolute;
  background: white;
  height: 30px;
  line-height: 30px;
  width: 100px;
  left: calc(50% - 50px);
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
}
.sign-in {
  bottom: 240px;
}
.sign-up {
  bottom: 200px;
}
.default-screen-button,
.habits-screen-button {
  position: absolute;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  height: 30px;
  line-height: 30px;
  width: 150px;
  top: 100px;
  left: calc(50% - 160px);
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
}
.default-screen-button {
  left: calc(50% - 160px);
}
.habits-screen-button {
  left: calc(50% + 10px);
}
.sign-in,
.sign-up,
.default-screen-button:hover,
.habits-screen-button:hover {
  cursor: pointer;
}
.mobile-frame,
.default-screen-button,
.habits-screen-button {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}
