body{
  background-color: #101010 !important;
  font-family: 'Montserrat', sans-serif;
}
p{
  color: rgba(198, 201, 216, 0.75);
}
.menu__item a{
  text-decoration: none;
}
.section-one{
  background: -webkit-linear-gradient(#f81f01, #ee076e );
    background-clip: border-box;
background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 100px;
line-height: 112px;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 900;
}
.section-five{
  background: -webkit-linear-gradient(305deg, #f81f01 0%, #ee076e 100%);
  background: -o-linear-gradient(305deg, #f81f01 0%, #ee076e 100%);
  background: linear-gradient(145deg, #f81f01 0%, #ee076e 100%);
  position: relative;
  z-index: 2;
}
.calltoaction{
  background-image: url("../images/pattern-1.png");
}
.ils-font-xl{
  font-size: 60px;
}
.ils-font-lg{
  font-size: 30px;
}
.ils-font-md{
  font-size: 20px;
}
.ils-font-sm{
  font-size: 18px;
}
.ils-font-bolder{
  font-weight: bolder;
}
.ils-font-white{
  color: #ffffff;
}
.ils-text-center{
  text-align: center;
}
.ils-center{
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ils-pt-30{
  padding-top: 30px;
}
.ils-pb-30{
  padding-bottom: 30px;
}
.ils-pt-50{
  padding-top: 50px;
}
.ils-pb-50{
  padding-bottom: 50px;
}
.ils-pt-100{
  padding-top: 100px;
}
.ils-btn{
  text-decoration: none;
  border: 2px solid;
  padding: 15px 40px;
  font-size: 16px;
}
.no-bullets{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#social-media li{
  display:inline;
}
.social-media-btn{
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 2px solid;
  padding: 15px;
  font-size: 35px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.feature{
  padding: 20px 20px;
  border-radius: 10px;
}
.feature:hover{
  background: linear-gradient(90deg, #f61b10, #ef0963);
  padding: 20px 20px;
  border-radius: 10px;
}
.feature:hover p{
  color: #ffffff;
}
.feature:hover .icon{
  color: #ffffff;
}
.icon{
  color: #f9004d;
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
}
.icon svg{
  width: 54px;
  height: 54px;
}
.counter{
  font-size: 72px;
  line-height: 80px;
  margin-bottom: 17px;
  position: relative;
  display: inline-block;
  color: #f9004d;
}
.mobile-frame {
  position: absolute;
  width: 300px;
  height: 580px;
  background: #333;
  border-radius: 50px;
}
.mobile-screen {
  position: absolute;
  width: 286px;
  left: 7px;
  height: 566px;
  top: 7px;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  border-radius: 45px;
}
.mobile-screen-top-block {
  position: absolute;
  background: #333;
  height: 20px;
  width: 150px;
  top: 0;
  left: calc(50% - 75px);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.mobile-screen-bottom-bar {
  position: absolute;
  background: white;
  height: 5px;
  width: 100px;
  bottom: 10px;
  left: calc(50% - 50px);
  border-radius: 15px;
}
.mobile-frame{
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}
